@import "tailwindcss";

:root {
  --color-primary: #95051F;
  --color-primary-dark: #870518;
  --color-primary-soft: #875260;

  --color-neutral-900: #202129;
  --color-neutral-300: #D6D4D4;
  --color-neutral-200: #A59DA6;
  --color-neutral-100: #E7E1E0;
}

